name: package:grpc_cronet CI

on:
  # Run on PRs and pushes to the default branch.
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 0"

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  analyze:
    name: Lint and static analysis
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          channel: 'stable'
          flutter-version: '3.0.2'
      - id: install
        name: Install dependencies
        run: flutter pub get
      - name: Check formatting
        run: flutter format --output=none --set-exit-if-changed .
        if: steps.install.outcome == 'success'
      - name: Download route_guide dependencies
        run: flutter pub get
        working-directory: example/route_guide
        if: steps.install.outcome == 'success'
      - name: Analyze code
        run: flutter analyze --fatal-infos
        if: steps.install.outcome == 'success'

  build-example-linux:
    name: "Build example on linux"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: example/helloworld
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          channel: 'stable'
          flutter-version: '3.0.2'
      - name: Download dependencies
        run: flutter pub get
      - name: apt-get update
        run: sudo apt-get update
      - name: Install required packages
        run: sudo apt-get install ninja-build gtk+-3.0 glib-2.0 gio-2.0
      - name: Build executable
        run: flutter build linux

  build-example-windows:
    name: "Build example on Windows"
    runs-on: windows-latest
    defaults:
      run:
        working-directory: example/helloworld
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          channel: 'stable'
          flutter-version: '3.0.2'
      - name: Download dependencies
        run: flutter pub get
      - name: Build executable
        run: flutter build windows
